<div class="card text-center" id= "channel_list">
  <% if @channel.present? %>
      <%#= render "dashboard/channel_show_list"%>
      <%= render partial: 'dashboard/channel_show_list', locals: { channel: @channel } %>
   <% end %>
</div>