<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%= @channel.name %>!</p>
    <p>
   Show details<br>
    --------------------------
    </p>
    <p>Name: <%= @show.name %></p>
    <p>Email: <%= @show.timing %></p>
    <p>
  </body>
</html>